@import "../../App.scss";

.navbar{
    padding: 16px 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    &-brand {
        font-size: 30px;
        font-weight: 700;

        @media screen and (max-width: 992px) {
            font-size: 24px;
        }

        @media screen and (max-width: 576px) {
            font-size: 20px;
        }

    }

    &-search {
        align-items: stretch;
        input {
            width: 100%;
            border: 0.5px solid rgba(0, 0, 0, 0.05);
            color: $clr-light-blue;
            height: 44px;
            padding: 4px 16px;
            border-radius: 3px 0 0 3px;
        }
        .navbar-search-btn {
            width: 60px;
            height: 44px;
            background-color: $clr-gold;
            color: $clr-white;
            transition: $transition;

            &:hover {
                background-color: $clr-regal-blue;

            }
        }
    }

    &-btns{
        .add-to-cart-btn {
            margin-right: 28px;
            color: $clr-pine-green;
            .btn-ico {
                margin-right: 10px;
            }
        .btn-txt{
            position: relative;
            .cart-count-value{
                position: absolute;
                top: -10px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: $clr-gold;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 14px;
                color: $clr-black;
                opacity: 0.8;
                font-weight: 500;
            }
        }    
        }
    }


}